@model  Web.CredBox.Model.Entity.ImovelEntity
@{
    ViewBag.Title = "Credbox";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<script>
    $(document).ready(function () {
        $('#breadcrumb').html('<a href="@Url.Action("Home","Home")">Home</a><li><span class="divider">/</span><a href="@Url.Action("List","Imovel")">Imóvel</a></li><li><span class="divider">/</span> Novo</li>');
        $('#ddlImobiliaria').append('<option value="0">Selecione</option>');
        $('#ddlCategoria').append('<option value="0">Selecione</option>');
        $('#ddlTipo').append('<option value="0">Selecione</option>');
        $('#ddlEstado').append('<option value="0">Selecione</option>');
        $('#ddlCidade').append('<option value="0">Selecione</option>');
        $('#alertMessage').hide('show');




        $('#ddlEstado').change(function () {
            var idEstado = $('#ddlEstado').val();
            ZerarCidade();
            LoadCidade(idEstado);
        });

        $('.btnVoltar').click(function () {
            document.location.href = '@Url.Action("List","Imovel")';
        });

        $('#btnAddImovel').click(function () {
            var id = $('#btnAddImovel').attr('imovel');
            Update(id);
        });
    });


    function LoadCidade(idEstado) {
        $('#pleaseWaitDialog').modal('show');
        if (idEstado > 0) {
            $.ajax({
                type: "GET",
                data: GetValueEstado(),
                url: '@Url.Action("GetCidades", "Imobiliaria")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').modal('hide');
                },
                success: function (data) {
                    ZerarCidade();
                    $('#ddlCidade').append('<option value="0">Selecione</option>');
                    $.each(data, function (i, cidade) {
                        $('#ddlCidade').append('<option value="' + cidade.id + '">' + cidade.nome + '</option>');
                    });
                    $('#pleaseWaitDialog').modal('hide');
                }
            });
        }
        else {
            ZerarCidade();
            $('#ddlCidade').append('<option value="0">Selecione</option>');
            $('#pleaseWaitDialog').modal('hide');
        }
    }

    function Update(id) {
        $('#pleaseWaitDialog').modal('show');
        var errorMessage = GetValidation();
        if (errorMessage == '') {
            $.ajax({
                type: "GET",
                data: GetValue(id),
                url: '@Url.Action("Update", "Imovel")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').modal('hide');
                },
                success: function (data) {
                    if (data.id > 0) {
                        $('#liImovel').removeClass('active');
                        $('#imovel').removeClass('active');
                        $('#liImagens').addClass('active');
                        $('#images').addClass('active');
                        $('#idImovel').val(data.id);
                    }

                    $('#alertMessage').show('show');
                    $('#message').html('<li>' + data.message + '</li>');
                    $('#pleaseWaitDialog').modal('hide');
                }
            });
        }
        else {
            $('#alertMessage').show('show');
            $('#message').html(errorMessage);
            $('#pleaseWaitDialog').modal('hide');
        }


    }


    function ZerarCidade() {
        $("#ddlCidade").empty();
    }

    function GetValueEstado() {
        var idEstado = $('#ddlEstado').val();
        return { idEstado: idEstado };
    }

    function GetValidation() {
        var errorMessage = '';

        if ($('#ddlImobiliaria').val() == '0') {
            errorMessage = '<li>O campo imobiliária é obrigatório.</li>';
        }

        if ($('#ddlCategoria').val() == '0') {
            if (errorMessage != '') {
                errorMessage = errorMessage + '<li>O campo categoria é obrigatório.</li>';
            }
            else {
                errorMessage = '<li>O campo categoria é obrigatório.</li>';
            }
        }

        if ($('#ddlTipo').val() == '0') {
            if (errorMessage != '') {
                errorMessage = errorMessage + '<li>O campo tipo é obrigatório.</li>';
            }
            else {
                errorMessage = '<li>O campo tipo é obrigatório.</li>';
            }
        }

        if ($('#ddlEstado').val() == '0') {
            if (errorMessage != '') {
                errorMessage = errorMessage + '<li>O campo estado é obrigatório.</li>';
            }
            else {
                errorMessage = '<li>O campo estado é obrigatório.</li>';
            }
        }

        if ($('#ddlCidade').val() == '0') {
            if (errorMessage != '') {
                errorMessage = errorMessage + '<li>O campo cidade é obrigatório.</li>';
            }
            else {
                errorMessage = '<li>O campo cidade é obrigatório.</li>';
            }
        }

        if ($('#txtNome').val() == '') {
            if (errorMessage != '') {
                errorMessage = errorMessage + '<li>O campo nome é obrigatório.</li>';
            }
            else {
                errorMessage = '<li>O campo nome é obrigatório.</li>';
            }
        }

        if ($('#txtValor').val() == '') {
            if (errorMessage != '') {
                errorMessage = errorMessage + '<li>O campo valor é obrigatório.</li>';
            }
            else {
                errorMessage = '<li>O campo valor é obrigatório.</li>';
            }
        }

        return errorMessage;

    }

    function GetValue(id) {
        var id = id
        var idimobiliaria = $('#ddlImobiliaria').val();
        var idcategoria = $('#ddlCategoria').val();
        var idtipo = $('#ddlTipo').val();
        var idestado = $('#ddlEstado').val();
        var idcidade = $('#ddlCidade').val();
        var nome = $('#txtNome').val();
        var bairro = $('#txtBairro').val();
        var endereco = $('#txtEndereco').val();
        var numero = 0;
        if ($('#txtNumero').val() != '') {
            numero = $('#txtNumero').val();
        }

        var complemento = $('#txtComplemento').val();
        var cep = $('#txtCep').val();
        var codigoimobiliaria = $('#txtCodigoImobiliaria').val();

        var vagagaragem = 0;
        if ($('#txtVagaGaragem').val() != '') {
            vagagaragem = $('#txtVagaGaragem').val();
        }

        var quantidadesuite = 0;
        if ($('#txtQuantidadeSuite').val() != '') {
            quantidadesuite = $('#txtQuantidadeSuite').val();
        }

        var quantidadequarto = 0;
        if ($('#txtQuantidadeQuarto').val() != '') {
            quantidadequarto = $('#txtQuantidadeQuarto').val();
        }

        var areaterreno = 0;
        if ($('#txtAreaTerreno').val() != '') {
            areaterreno = $('#txtAreaTerreno').val();
        }

        var areaconstruida = 0;
        if ($('#txtAreaConstruida').val() != '') {
            areaconstruida = $('#txtAreaConstruida').val();
        }

        var aceitafinanciamento = $('#chkFinanciamento').is(':checked');
        var valor = $('#txtValor').val();
        var descricao = $('#txtDescricao').val();
        return { id: id, idimobiliaria: idimobiliaria, idcategoria: idcategoria, idtipo: idtipo, idestado: idestado, idcidade: idcidade, nome: nome, bairro: bairro, endereco: endereco, numero: numero, complemento: complemento, cep: cep, codigoimobiliaria: codigoimobiliaria, vagagaragem: vagagaragem, quantidadesuite: quantidadesuite, quantidadequarto: quantidadequarto, areaterreno: areaterreno, areaconstruida: areaconstruida, aceitafinanciamento: aceitafinanciamento, valor: valor, descricao: descricao };
    }
</script>


<h2><span class="glyphicon glyphicon-record"></span> Imóvel</h2>

<div class="box span11">
    <div class="box-header well">
        <h2><i class="icon-edit"></i> Editar</h2>
        <div class="box-icon">
            @*<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>*@
            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            @*<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>*@

        </div>
    </div>
    <div class="box-content">
        <ul class="nav nav-tabs" id="myTab">
            <li id="liImovel" class="active"><a href="#imovel">Imóvel</a></li>
            <li id="liImagens"><a href="#images">Imagens</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active" id="imovel">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="ddlImobiliaria">Imobiliária</label>
                            <div class="controls">
                                <select id="ddlImobiliaria">
                                    @foreach (var item in @ViewBag.Imobiliarias)
                                    {
                                        if (@item.id == @ViewBag.Imovel.Imobiliaria.id)
                                        {
                                            <option selected="selected" value="@item.id">@item.nome</option>
                                        }
                                        else
                                        {
                                            <option value="@item.id">@item.nome</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="ddlCategoria">Categoria</label>
                            <div class="controls">
                                <select id="ddlCategoria">
                                    @foreach (var item in @ViewBag.Categorias)
                                    {
                                        if (@item.id == @ViewBag.Imovel.Categoria.id)
                                        {
                                            <option selected="selected" value="@item.id">@item.nome</option>
                                        }
                                        else
                                        {
                                            <option value="@item.id">@item.nome</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="ddlTipo">Tipo</label>
                            <div class="controls">
                                <select id="ddlTipo">
                                    @foreach (var item in @ViewBag.Tipos)
                                    {
                                        if (@item.id == @ViewBag.Imovel.Tipo.id)
                                        {
                                            <option selected="selected" value="@item.id">@item.nome</option>
                                        }
                                        else
                                        {
                                            <option value="@item.id">@item.nome</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="txtNome">Nome</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtNome" value="@ViewBag.Imovel.nome" placeholder="Nome" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="ddlEstado">Estado</label>
                            <div class="controls">
                                <select id="ddlEstado">
                                    @foreach (var item in @ViewBag.Estados)
                                    {
                                        if (@item.id == @ViewBag.Imovel.Estado.id)
                                        {
                                            <option selected="selected" value="@item.id">@item.sigla</option>
                                        }
                                        else
                                        {
                                            <option value="@item.id">@item.sigla</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="ddlCidade">Cidade</label>
                            <div class="controls">
                                <select class="dropdown" id="ddlCidade">
                                    @foreach (var item in @ViewBag.Cidades)
                                    {
                                        if (@item.id == @ViewBag.Imovel.Cidade.id)
                                        {
                                            <option selected="selected" value="@item.id">@item.nome</option>
                                        }
                                        else
                                        {
                                            <option value="@item.id">@item.nome</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="txtEndereco">Endereço</label>
                            <div class="controls">
                                <input class="text" id="txtEndereco" value="@ViewBag.Imovel.endereco" placeholder="Endereço" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="txtCep">Cep</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtCep" value="@ViewBag.Imovel.cep" placeholder="Cep" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="txtNumero">Número</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtNumero" value="@ViewBag.Imovel.numero" placeholder="Número" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="txtBairro">Bairro</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtBairro" value="@ViewBag.Imovel.bairro" placeholder="Bairro" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="txtComplemento">Complemento</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtComplemento" value="@ViewBag.Imovel.complemento" placeholder="Complemento" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="txtCodigoImobiliaria">Código Imobiliária</label>
                            <div class="controls">
                                <input class="text" id="txtCodigoImobiliaria" value="@ViewBag.Imovel.codigoImobiliaria" placeholder="Código Imobiliária" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="txtVagaGaragem" class="control-label">Vaga de Garagem</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtVagaGaragem" value="@ViewBag.Imovel.vagagaragem" placeholder="Quantidade de vagas" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="txtQuantidadeQuarto" class="control-label">Quantidade Quarto</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtQuantidadeQuarto" value="@ViewBag.Imovel.quantidadeQuarto" placeholder="Quantidade de quarto" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="txtQuantidadeSuite" class="control-label">Quantidade Suíte</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtQuantidadeSuite" value="@ViewBag.Imovel.quantidadeSuite" placeholder="Quantidade Suíte" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="txtAreaTerreno" class="control-label">Área do Terreno</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtAreaTerreno" value="@ViewBag.Imovel.areaTerreno" placeholder="Tamanho do terreno" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="txtAreaConstruida" class="control-label">Área Construída</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtAreaConstruida" value="@ViewBag.Imovel.areaConstruida" placeholder="Área Construída" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="txtValor" class="control-label">Valor</label>
                            <div class="controls">
                                <input type="text" class="text" id="txtValor" value="@ViewBag.Imovel.valor" placeholder="Valor" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="chkFinanciamento" class="control-label">Aceita Financiamento?</label>
                            <div class="controls">
                                <input type="checkbox" id="chkFinanciamento" checked="@ViewBag.Imovel.aceitaFinanciamento" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="txtDescricao" class="control-label">Descrição</label>
                            <div class="controls">
                                <input id="txtDescricao" class="autogrow" style="height: 47px;" value="@ViewBag.Imovel.descricao" placeholder="Descrição do imóvel" />
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="button" imovel="@ViewBag.Imovel.id" class="btn btn-primary" id="btnAddImovel"><i class="icon icon-white icon-save"></i> Salvar</button>
                            <button type="button" class="btn btnVoltar"><i class="icon icon-undo"></i> Voltar</button>
                        </div>
                    </fieldset>
                </form>
            </div>


            <div class="tab-pane" id="images">
                <form action="Upload" method="post" enctype="multipart/form-data" class="form-class">
                    @Html.HiddenFor(m => m.idImovel)
                    <fieldset>
                        <div class="control-group">
                            <label for="foto1" class="control-label">Foto 1</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.foto1, new { type = "file", accept = "image/*", multiple = "multiple" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="foto2" class="control-label">Foto 2</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.foto2, new { type = "file", accept = "image/*", multiple = "multiple" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="foto3" class="control-label">Foto 3</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.foto3, new { type = "file", accept = "image/*", multiple = "multiple" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="foto4" class="control-label">Foto 4</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.foto4, new { type = "file", accept = "image/*", multiple = "multiple" })
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="foto5" class="control-label">Foto 5</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.foto5, new { type = "file", accept = "image/*", multiple = "multiple" })
                            </div>
                        </div>

                        @if (ViewBag.Imovel != null)
                        {
                            <div class="box-header well" data-original-title="">
                                <h2><i class="icon-picture"></i> Galeria</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="box-content">

                                <ul class="thumbnails gallery">
                                    @if (!string.IsNullOrEmpty(@ViewBag.Imovel.caminhofoto1))
                                    {
                                        <li id="image-1" class="thumbnail">
                                            <a class="cboxElement" style="background: url(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto1, ViewBag.Imovel.nomefoto1)))" title="@ViewBag.Imovel.nome" href="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto1, ViewBag.Imovel.nomefoto1)))">
                                                <img style="display: block;" class="grayscale" src="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto1, ViewBag.Imovel.nomefoto1)))" alt="@ViewBag.Imovel.nome">
                                            </a>
                                        </li>
                                    }

                                    @if (!string.IsNullOrEmpty(@ViewBag.Imovel.caminhofoto2))
                                    {
                                        <li id="image-2" class="thumbnail">
                                            <a class="cboxElement" style="background: url(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto2, ViewBag.Imovel.nomefoto2)))" title="@ViewBag.Imovel.nome" href="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto2, ViewBag.Imovel.nomefoto2)))">
                                                <img style="display: block;" class="grayscale" src="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto2, ViewBag.Imovel.nomefoto2)))" alt="@ViewBag.Imovel.nome">
                                            </a>
                                        </li>
                                    }

                                    @if (!string.IsNullOrEmpty(@ViewBag.Imovel.caminhofoto3))
                                    {
                                        <li id="image-3" class="thumbnail">
                                            <a class="cboxElement" style="background: url(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto3, ViewBag.Imovel.nomefoto3)))" title="@ViewBag.Imovel.nome" href="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto3, ViewBag.Imovel.nomefoto3)))">
                                                <img style="display: block;" class="grayscale" src="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto3, ViewBag.Imovel.nomefoto3)))" alt="@ViewBag.Imovel.nome">
                                            </a>
                                        </li>
                                    }

                                    @if (!string.IsNullOrEmpty(@ViewBag.Imovel.caminhofoto4))
                                    {
                                        <li id="image-4" class="thumbnail">
                                            <a class="cboxElement" style="background: url(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto4, ViewBag.Imovel.nomefoto4)))" title="@ViewBag.Imovel.nome" href="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto4, ViewBag.Imovel.nomefoto4)))">
                                                <img style="display: block;" class="grayscale" src="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto4, ViewBag.Imovel.nomefoto4)))" alt="@ViewBag.Imovel.nome">
                                            </a>
                                        </li>
                                    }

                                    @if (!string.IsNullOrEmpty(@ViewBag.Imovel.caminhofoto5))
                                    {
                                        <li id="image-4" class="thumbnail">
                                            <a class="cboxElement" style="background: url(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto5, ViewBag.Imovel.nomefoto5)))" title="@ViewBag.Imovel.nome" href="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto5, ViewBag.Imovel.nomefoto5)))">
                                                <img style="display: block;" class="grayscale" src="@Url.Content(@Url.Content(string.Concat(@ViewBag.Imovel.caminhofoto5, ViewBag.Imovel.nomefoto5)))" alt="@ViewBag.Imovel.nome">
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" id="btnAddImages"><i class="icon icon-white icon-save"></i> Salvar</button>
                            <button type="button" class="btn btnVoltar"><i class="icon icon-undo"></i> Voltar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="box-content">
        <fieldset>
            <div class="modal fade" id="pleaseWaitDialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Processando...</h4>
                        </div>
                        <div class="modal-body">
                            <div class="center">
                                <img title="img/ajax-loaders/ajax-loader-7.gif" src="@Url.Content("~/img/ajax-loaders/ajax-loader-7.gif")">
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            @if (ViewBag.Resultado != null && ViewBag.Resultado)
            {
                <div class="alert alert-error" id="alertMessage" style="display:block;">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Atenção</h4>
                    <ul id="message"><li>Imagens adiconadas com sucesso.</li></ul>
                </div>
            }


            <div class="alert alert-error" id="alertMessage">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>Atenção</h4>
                <ul id="message"></ul>
            </div>
        </fieldset>
    </div>
</div>