@{
    ViewBag.Title = "Credbox";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<script>
    $(document).ready(function () {
        $('#btnEdit').click(function () {
            var idCategoria = $('#btnEdit').attr("categoria");
            Edit(idCategoria);
        });

        $('#btnVoltar').click(function () {
            window.location.href = '@Url.Action("List","Categoria")';
        });

        $('#breadcrumb').html('<a href="@Url.Action("Home","Home")">Home</a><li><span class="divider">/</span><a href="@Url.Action("List","Categoria")">Categoria</a></li><li><span class="divider">/</span> Editar</li>');

        $('#alertMessage').hide('show');

    });


    function Edit(idCategoria) {
        $('#pleaseWaitDialog').modal('show');
        var erroMessage = GetValidation();

        if (erroMessage == '') {
            $.ajax({
                type: "GET",
                data: GetValue(idCategoria),
                url: '@Url.Action("Update", "Categoria")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').modal('hide');
                },
                success: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>' + data + '</li>');
                    $('#pleaseWaitDialog').modal('hide');
                }
            });
        }
        else {
            $('#alertMessage').show('show');
            $('#message').html(erroMessage);
            $('#pleaseWaitDialog').modal('hide');
        }
    }

    function GetValidation() {
        var erroMessage = '';
        if ($('#txtNome').val() == '') {
            erroMessage = '<li>O campo nome é obrigatório.</li>';
        }

        return erroMessage;

    }

    function GetValue(idCategoria) {
        var nome = $('#txtNome').val();
        return { idCategoria: idCategoria, nome: nome };
    }
</script>
<h2><span class="glyphicon glyphicon-list-alt"></span> Categoria</h2>

<div class="box span11">
    <div class="box-header well" data-original-title="">
        <h2><i class="icon-edit"></i> Editar</h2>
        <div class="box-icon">
            @*<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>*@
            @*<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>*@
            @*<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>*@
        </div>
    </div>
    <div class="box-content">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="txtNome">Nome</label>
                    <div class="controls">
                        <input class="input-xlarge focused" id="txtNome" value="@ViewBag.Categoria.nome" type="text">
                    </div>
                </div>

                <div class="form-actions">

                    <button type="button" class="btn btn-primary" categoria="@ViewBag.Categoria.id" id="btnEdit"><i class="icon icon-white icon-save"></i> Salvar</button>
                    <button type="button" class="btn" id="btnVoltar"><i class="icon icon-undo"></i> Voltar</button>
                </div>

                <div class="modal fade" id="pleaseWaitDialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Processando...</h4>
                            </div>
                            <div class="modal-body">
                                <div class="progress progress-striped">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="alert alert-error" id="alertMessage">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Atenção</h4>
                    <ul id="message"></ul>
                </div>
            </fieldset>
        </form>

    </div>
</div>

