@{
    ViewBag.Title = "Credbox";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<script>

    $(document).ready(function () {

        $('#breadcrumb').html('<a href="@Url.Action("Home","Home")">Home</a><li><span class="divider">/</span><a href="@Url.Action("List","Usuario")">Usuário</a></li><li><span class="divider">/</span> Novo</li>');

        $('#btnAdd').click(function () {
            Add();
        });

        $('#btnVoltar').click(function () {
            window.location.href = '@Url.Action("List","Usuario")';
        });

        $('#alertMessage').hide('show');
        $('#divImobiliaria').hide('show');

        $('#txtEmail').blur(function () {
            var email = $("#txtEmail").val();
            if (email != "") {
                var filtro = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
                if (filtro.test(email)) {
                    return true;
                } else {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Este endereço de email não é válido.</li>');
                    return false;
                }
            } else {
                $('#alertMessage').show('show');
                $('#message').html('<li>Digite um email.</li>');
                return false;
            }
        });


        $('#chkImobiliaria').click(function () {

            if ($(this).is(':checked'))
                $("#divImobiliaria").show('hide');
            else
                $("#divImobiliaria").hide('show');

        });
    });


    function Add() {
        $('#pleaseWaitDialog').modal('show');
        var erroMessage = GetValidation();
        if (erroMessage == "") {
            $.ajax({
                type: "GET",
                data: GetValue(),
                url: '@Url.Action("Save", "Usuario")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').modal('hide');

                },
                success: function (data) {
                    ClearControls();
                    $('#alertMessage').show('show');
                    $('#message').html('<li>' + data + '</li>');
                    $('#pleaseWaitDialog').modal('hide');
                }
            });
        }
        else {
            $('#alertMessage').show();
            $('#message').html(erroMessage);
            $('#pleaseWaitDialog').modal('hide');
        }
    }

    function GetValidation() {
        var erroMessage = '';
        if ($('#txtNome').val() == "") {
            erroMessage = '<li>O nome do usuário é obrigatório</li>';
        }

        if ($('#txtEmail').val() == "") {
            if (erroMessage != "") {
                erroMessage = erroMessage + '<li>O e-mail do usuário é obrigatório.</li>';
            }
            else {
                erroMessage = '<li>O e-mail do usuário é obrigatório.</li>';
            }


            var email = $("#txtEmail").val();
            if (email != "") {
                var filtro = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
                if (!filtro.test(email)) {
                    if (erroMessage != "") {
                        erroMessage = erroMessage + '<li>Este endereço de email não é válido.</li>';
                    }
                    else {
                        erroMessage = '<li>Este endereço de email não é válido.</li>';
                    }
                }
            }
        }

        if ($('#txtLogin').val() == "") {
            if (erroMessage != "") {
                erroMessage = erroMessage + '<li>O login do usuário é obrigatório.</li>';
            }
            else {
                erroMessage = '<li>O login do usuário é obrigatório.</li>';
            }
        }

        if ($('#txtSenha').val() == "") {
            if (erroMessage != "") {
                erroMessage = erroMessage + '<li>A senha do usuário é obrigatório.</li>';
            }
            else {
                erroMessage = '<li>A senha do usuário é obrigatório.</li>';
            }
        }

        var imobiliaria = $('#chkImobiliaria').is(':checked');
        if (imobiliaria == true) {
            if ($('#ddlImobiliaria').val() == "0") {
                if (erroMessage != "") {
                    erroMessage = erroMessage + '<li>Selecione a imobiliária do usuário é obrigatório.</li>';
                }
                else {
                    erroMessage = '<li>Selecione a imobiliária do usuário é obrigatório.</li>';
                }
            }
        }
        return erroMessage;
    }

    function GetValue() {
        var idImobiliaria = $('#ddlImobiliaria').val();
        var nome = $('#txtNome').val();
        var email = $('#txtEmail').val();
        var login = $('#txtLogin').val();
        var senha = $('#txtSenha').val();
        var imobiliaria = $('#chkImobiliaria').is(':checked');
        var ativo = $('#chkAtivo').is(':checked');
        var emailNotificacao = $('#chkNotificacao').is(':checked');
        var administrar = $('#chkAdministrar').is(':checked');
        return { idImobiliaria: idImobiliaria, nome: nome, email: email, login: login, senha: senha, imobiliaria: imobiliaria, ativo: ativo, emailNotificacao: emailNotificacao, administrar: administrar };
    }

    function ClearControls() {
        $('#ddlImobiliaria').val('0');
        $('#txtNome').val('');
        $('#txtEmail').val('');
        $('#txtLogin').val('');
        $('#txtSenha').val('');
        $('#chkImobiliaria').attr('checked', false);
        $('#chkAtivo').attr('checked', false);
        $('#chkNotificacao').attr('checked', false);
        $('#chkAdministrar').attr('checked', false);
    }

</script>


<h2>Usuário</h2>

<div class="box span10">
    <div class="box-header well" data-original-title="">
        <h2><i class="icon-edit"></i> Novo</h2>
        <div class="box-icon">
            @*<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>*@
            @*<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>*@
            @*<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>*@
        </div>
    </div>
    <div class="box-content">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="chkImobiliaria">É Imobiliária?</label>
                    <div class="controls">
                        <input type="checkbox" id="chkImobiliaria" />
                    </div>
                </div>

                <div class="control-group" id="divImobiliaria">
                    <label class="control-label" for="ddlImobiliaria">Imobiliária</label>
                    <div class="controls">
                        @Html.DropDownList("ddlImobiliaria", new SelectList((System.Collections.IEnumerable)ViewData["Imobiliarias"], "Value", "Text"))
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtNome">Nome</label>
                    <div class="controls">
                        <input type="text" id="txtNome" placeholder="Nome" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtEmail">E-mail</label>
                    <div class="controls">
                        <input type="text" id="txtEmail" placeholder="E-mail" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtLogin">Login</label>
                    <div class="controls">
                        <input type="text" id="txtLogin" placeholder="Login" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtSenha">Senha</label>
                    <div class="controls">
                        <input type="password" id="txtSenha" placeholder="Senha" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="chkNotificacao">Recebe Notificação?</label>
                    <div class="controls">
                        <input type="checkbox" id="chkNotificacao" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="chkAdministrar">Pode Administrar?</label>
                    <div class="controls">
                        <input type="checkbox" id="chkAdministrar" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="chkAtivo">Ativo?</label>
                    <div class="controls">
                        <input type="checkbox" id="chkAtivo" />
                    </div>
                </div>

                <div class="form-actions">

                    <button type="button" class="btn btn-primary" id="btnAdd"><i class="icon icon-white icon-save"></i> Salvar</button>
                    <button type="button" class="btn" id="btnVoltar"><i class="icon icon-undo"></i> Voltar</button>
                </div>

                <div class="modal fade" id="pleaseWaitDialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Processando...</h4>
                            </div>
                            <div class="modal-body">
                                <div class="progress progress-striped">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="alert alert-error" id="alertMessage">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Atenção</h4>
                    <ul id="message"></ul>
                </div>
            </fieldset>
        </form>

    </div>
</div>