@model Web.CredBox.Model.Entity.UsuarioEntity
@{
    ViewBag.Title = "Credbox";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<script>

    $(document).ready(function () {

        $('#breadcrumb').html('<a href="@Url.Action("Home","Home")">Home</a><li><span class="divider">/</span><a href="@Url.Action("List","Usuario")">Usuário</a></li><li><span class="divider">/</span> Editar</li>');
        $('#btnAdd').click(function () {
            var idusuario = $('#btnAdd').attr("usuario");
            Update(idusuario);
        });

        $('#btnVoltar').click(function () {
            window.location.href = '@Url.Action("List","Usuario")';
        });

        $('#alertMessage').hide('show');

        $('#ddlImobiliaria').append('<option value="0" selected="selected">Selecione</option>');

        $('#chkImobiliaria').click(function () {

            if ($(this).is(':checked'))
                $("#divImobiliaria").show('hide');
            else
                $("#divImobiliaria").hide('show');

        });
    });


    function Update(idusuario) {
        $('#pleaseWaitDialog').show();
        var erroMessage = GetValidation();
        if (erroMessage == "") {
            $.ajax({
                type: "GET",
                data: GetValue(idusuario),
                url: '@Url.Action("Update", "Usuario")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').hide();

                },
                success: function (data) {
                    ClearControls();
                    $('#alertMessage').show('show');
                    $('#message').html('<li>' + data + '</li>');
                    $('#pleaseWaitDialog').hide();
                }
            });
        }
        else {
            $('#pleaseWaitDialog').hide();
            $('#alertMessage').show();
            $('#message').html(erroMessage);
        }
    }

    function GetValidation() {
        var erroMessage = '';
        if ($('#txtNome').val() == "") {
            erroMessage = '<li>O nome do usuário é obrigatório</li>';
        }

        if ($('#txtEmail').val() == "") {
            if (erroMessage != "") {
                erroMessage = erroMessage + '<li>O e-mail do usuário é obrigatório.</li>';
            }
            else {
                erroMessage = '<li>O e-mail do usuário é obrigatório.</li>';
            }
        }

        if ($('#txtLogin').val() == "") {
            if (erroMessage != "") {
                erroMessage = erroMessage + '<li>O login do usuário é obrigatório.</li>';
            }
            else {
                erroMessage = '<li>O login do usuário é obrigatório.</li>';
            }
        }

        var imobiliaria = $('#chkImobiliaria').is(':checked');
        if (imobiliaria == true) {
            if ($('#ddlImobiliaria').val() == "0") {
                if (erroMessage != "") {
                    erroMessage = erroMessage + '<li>Selecione a imobiliária do usuário é obrigatório.</li>';
                }
                else {
                    erroMessage = '<li>Selecione a imobiliária do usuário é obrigatório.</li>';
                }
            }
        }

        return erroMessage;
    }

    function GetValue(idusuario) {
        var imobiliaria = $('#chkImobiliaria').is(':checked');

        var idImobiliaria = 0;
        if (imobiliaria) {
            idImobiliaria = $('#ddlImobiliaria').val();
        }

        var nome = $('#txtNome').val();
        var email = $('#txtEmail').val();
        var login = $('#txtLogin').val();
        var senha = $('#txtSenha').val();
        var ativo = $('#chkAtivo').is(':checked');
        var emailNotificacao = $('#chkNotificacao').is(':checked');
        var administrar = $('#chkAdministrar').is(':checked');
        return { idusuario: idusuario, idImobiliaria: idImobiliaria, nome: nome, email: email, login: login, senha: senha, imobiliaria: imobiliaria, ativo: ativo, emailNotificacao: emailNotificacao, administrar: administrar };
    }

    function ClearControls() {
        $('#ddlImobiliaria').val('0');
        $('#txtNome').val('');
        $('#txtEmail').val('');
        $('#txtLogin').val('');
        $('#txtSenha').val('');
        $('#chkImobiliaria').attr('checked', false);
        $('#chkAtivo').attr('checked', false);
        $('#chkNotificacao').attr('checked', false);
        $('#chkAdministrar').attr('checked', false);
    }

</script>


<h2>Usuário</h2>

<div class="box span10">
    <div class="box-header well" data-original-title="">
        <h2><i class="icon-edit"></i> Editar</h2>
        <div class="box-icon">
            @*<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>*@
            @*<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>*@
            @*<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>*@
        </div>
    </div>
    <div class="box-content">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="chkImobiliaria">É Imobiliária?</label>
                    <div class="controls">
                        <input type="checkbox" id="chkImobiliaria" checked="@Model.imobiliaria" />
                    </div>
                </div>
                @if (@Model.imobiliaria)
                {

                    <div class="control-group" id="divImobiliaria">
                        <label class="control-label" for="ddlImobiliaria">Imobiliária</label>
                        <div class="controls">
                            <select id="ddlImobiliaria">
                                @foreach (var item in @ViewBag.Imobiliarias)
                                {
                                    if (@Model.Imobiliaria.id == @item.id)
                                    {
                                        <option selected="selected" value="@item.id">@item.nome</option>
                                    }
                                    else
                                    {
                                        <option value="@item.id">@item.nome</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>

                }
                else
                {
                    <div class="control-group" id="divImobiliaria" style="display:none;">
                        <label class="control-label" for="ddlImobiliaria">Imobiliária</label>
                        <div class="controls">
                            <select id="ddlImobiliaria">
                                @foreach (var item in @ViewBag.Imobiliarias)
                                {
                                    if (@Model.Imobiliaria.id == @item.id)
                                    {
                                        <option selected="selected" value="@item.id">@item.nome</option>
                                    }
                                    else
                                    {
                                        <option value="@item.id">@item.nome</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                }



                <div class="control-group">
                    <label class="control-label" for="txtNome">Nome</label>
                    <div class="controls">
                        <input type="text" id="txtNome" value="@Model.nome" placeholder="Nome" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtEmail">E-mail</label>
                    <div class="controls">
                        <input type="text" id="txtEmail" value="@Model.email" placeholder="E-mail" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtLogin">Login</label>
                    <div class="controls">
                        <input type="text" id="txtLogin" value="@Model.login" placeholder="Login" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtSenha">Senha</label>
                    <div class="controls">
                        <input type="password" id="txtSenha" placeholder="Senha" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="chkNotificacao">Recebe Notificação?</label>
                    <div class="controls">
                        <input type="checkbox" id="chkNotificacao" checked="@Model.emailNotificacao" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="chkAdministrar">Pode Administrar?</label>
                    <div class="controls">
                        <input type="checkbox" id="chkAdministrar" checked="@Model.Administrar" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="chkAtivo">Ativo?</label>
                    <div class="controls">
                        <input type="checkbox" id="chkAtivo" checked="@Model.ativo" />
                    </div>
                </div>

                <div class="form-actions">

                    <button type="button" class="btn btn-primary" usuario="@Model.id" id="btnAdd"><i class="icon icon-white icon-save"></i> Salvar</button>
                    <button type="button" class="btn" id="btnVoltar"><i class="icon icon-undo"></i> Voltar</button>
                </div>

                <div class="modal fade" id="pleaseWaitDialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Processando...</h4>
                            </div>
                            <div class="modal-body">
                                <div class="progress progress-striped">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="alert alert-error" id="alertMessage">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Atenção</h4>
                    <ul id="message"></ul>
                </div>
            </fieldset>
        </form>
    </div>
</div>