@model IList<Web.CredBox.Model.Entity.UsuarioEntity>
@{
    Layout = null;
}

@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Imobiliária
                </th>

                <th>
                    Login
                </th>
                <th>
                    Ativo
                </th>
                <th>
                    Administrador
                </th>
                <th>
                    Inclusão
                </th>
                <th>
                    Usuário Inclusão
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.nome</td>
                    <td class="center">@item.Imobiliaria.nome</td>
                    <td class="center">@item.login</td>
                    @if (@item.ativo)
                    {

                        <td class="center"><span class="label label-success">@Web.CredBox.Util.ConvertValue.BoolToString(@item.ativo)</span> </td>
                    }
                    else
                    {
                        <td class="center"><span class="label">@Web.CredBox.Util.ConvertValue.BoolToString(@item.ativo)</span> </td>
                    }


                    @if (@item.Administrar)
                    {
                        <td class="center"><span class="label label-success">@Web.CredBox.Util.ConvertValue.BoolToString(@item.Administrar)</span></td>
                    }
                    else
                    {
                        <td class="center"><span class="label">@Web.CredBox.Util.ConvertValue.BoolToString(@item.Administrar)</span></td>
                    }
                    <td class="center">@item.dataInclusao.ToString("dd/MM/yyyy")</td>
                    <td class="center">@item.UsuarioInclusao.nome</td>
                    <td class="center">
                        <a class="btn btn-success" href="@Url.Action("Edit", "Usuario", new { id = @Web.CredBox.StringExtension.Encrypt(@item.id.ToString()) })">
                            <i class="icon-edit icon-white"></i>
                            Editar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#divBusca').show();
            $('#alertMessage').hide();
        });
    </script>
}
else
{
    <script>

        $(document).ready(function () {
            $('#divBusca').hide();
            $('#alertMessage').show();
            $('#message').html('<li>Nenhum usuário encontrada.</li>');
        });
    </script>

}
