@{
    ViewBag.Title = "Credbox";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<script>
    $(document).ready(function () {
        $('#breadcrumb').html('<a href="@Url.Action("Home","Home")">Home</a><li><span class="divider">/</span><a href="@Url.Action("List","Usuario")">Usuário</a></li><li>Buscar</li>');

        $('#alertMessage').hide('show');
        $('#ddlImobiliaria').append('<option value="0" selected="selected">Selecione</option>');

        $('#btnNovo').click(function () {
            document.location.href = '@Url.Action("Add","Usuario")';
        });

        $('#btnBuscar').click(function () {
            loadSearchUsuario();
        });

        $('#alertMessage').hide();
        $('#divBusca').hide('show');

    });

    function loadSearchUsuario() {

        $('#pleaseWaitDialog').modal('show');
        var erroMessage = GetValidation();
        if (erroMessage == '') {


            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAll", "Usuario")',
                data: GetValueSearch(),
                error: function () {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').modal('hide');
                },
                success: function (data) {
                    if (data == null) {
                        $('#alertMessage').show();
                        $('#message').html('<li>Este serviço está temporariamente indisponível. Tente novamente mais tarde.</li>');
                        $('#pleaseWaitDialog').modal('hide');
                    }
                    else {
                        $('#divBusca').show();
                        $("#divResult").html(data);
                        $('#pleaseWaitDialog').modal('hide');
                    }
                }
            });
        }
        else {
            $('#alertMessage').show();
            $('#message').html(erroMessage);
            $('#pleaseWaitDialog').modal('hide');
        }

    }

    function GetValidation() {
        var erroMessage = '';
        var email = $("#txtEmail").val();
        if (email != "") {
            var filtro = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if (!filtro.test(email)) {
                if (erroMessage != "") {
                    erroMessage = erroMessage + '<li>Este endereço de email não é válido.</li>';
                }
                else {
                    erroMessage = '<li>Este endereço de email não é válido.</li>';
                }
            }
        }
        return erroMessage;
    }

    function GetValueSearch() {

        var nome = $('#txtNome').val();
        var email = $('#txtEmail').val();
        var login = $('#txtLogin').val();
        var idimobiliaria = 0;
        var idimobiliaria = 0;
        if ($('#ddlImobiliaria').val() != '')
            idimobiliaria = $('#ddlImobiliaria').val();
        var ativo = $('#chkAtivo').is(':checked');
        return { nome: nome, email: email, login: login, idimobiliaria: idimobiliaria, ativo: ativo };
    }
</script>
<h2><span class="glyphicon glyphicon-user"></span> Usuário</h2>
<div class="box span11">
    <div class="box-header well" data-original-title="">
        <h2><i class="icon-edit"></i> Buscar</h2>
        <div class="box-icon">
            @*<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>*@
            @*<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>*@
            @*<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>*@
        </div>
    </div>
    <div class="box-content">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="txtNome">Nome</label>
                    <div class="controls">
                        <input class="input-xlarge focused" id="txtNome" placeholder="Nome" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtEmail">E-mail</label>
                    <div class="controls">
                        <input class="input-xlarge focused" id="txtEmail" placeholder="E-mail" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtLogin">Login</label>
                    <div class="controls">
                        <input class="input-xlarge focused" id="txtLogin" placeholder="Login" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ddlImobiliaria">Imobiliária</label>
                    <div class="controls">
                        <select id="ddlImobiliaria" data-rel="chosen">
                            @foreach (var item in ViewBag.Imobiliarias)
                            {
                                <option value="@item.id">@item.nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <div class="controls">
                        <input type="checkbox" class="checkbox" id="chkAtivo" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-primary" id="btnBuscar"><i class="icon icon-white icon-search"></i> Buscar</button>
                    <button type="button" class="btn" id="btnNovo"><i class="icon icon-page"></i> Novo</button>
                </div>
                <div class="row-fluid sortable" id="divBusca">
                    <div class="box span12">
                        <div class="box-header well" data-original-title>
                            <h2>Resultado</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content" id="divResult">
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
                <div class="modal fade" id="pleaseWaitDialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Processando...</h4>
                            </div>
                            <div class="modal-body">
                                <div class="center">
                                    <img title="img/ajax-loaders/ajax-loader-7.gif" src="@Url.Content("~/img/ajax-loaders/ajax-loader-7.gif")">
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="alert alert-error" id="alertMessage">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Atenção</h4>
                    <ul id="message"></ul>
                </div>
            </fieldset>
        </form>
    </div>
</div>