@{
    ViewBag.Title = "Index";
}

<div class="header-default header-seuimovel">
    <div class="max-width">
        <h1>Encontre seu imóvel <small>Preencha os campos de acordo com a sua necessidade.</small></h1>
        <form class="search-default">
            <label>
                Categoria<br />
                <select>
                    <option>Residencial</option>
                    <option>Comercial</option>
                </select>
            </label>
            <label>
                Cidade<br />
                <select style="width: 270px;">
                    <option>Residencial</option>
                    <option>Comercial</option>
                </select>
            </label>
            <label>
                Tipo<br />
                <select>
                    <option>Casa</option>
                    <option>Apartamento</option>
                </select>
            </label>
            <label>
                Quartos / Salas<br />
                <select>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>Mais que 03</option>
                </select>
            </label>
            <label>
                Quartos / Salas<br />
                <select>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>Mais que 03</option>
                </select>
            </label><div class="clear"></div>
            <div class="float-l" >
                <label for="amount">Price range:</label><div class="clear"></div>
                 <div id="slider-range"></div><div class="clear"></div>
                 <input type="text" id="amount" style="border:0; color:#000; font-weight:bold; background-color:transparent;">
            </div>
            <button class="float-r">Encontrar</button>
        </form>
        <div class="clear"></div>
        <div class="filtros">
            <strong>Filtros</strong>
            <a href="#">Mais Caro</a>
            <a href="#">Mais Barato</a>

        </div>
    </div>
</div>
<div class="clear"></div>
<div class="max-width">
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>
    <div class="imovelCard">
                <img src="@Url.Content("~/Content/Images/thumb-imovel.jpg")" />
                <h3>
                    Panamby<br />
                    São Paulo - SP
                </h3>
                <h4>
                    R$1.550.550,00<br />
                    <a href="#">ver mais >></a>
                </h4>
                <div class="clear"></div>
                <span class="flyout-info-basica">
                    <span class="float-l">
                        <strong>135m²</strong><br />
                        <small>Casa</small>
                    </span>
                    <span class="float-r">
                        <strong>Residencial</strong> <small>2 vagas</small><br />
                        <small>1 Suíte; 3 Quartos;</small>
                    </span>
                </span>
            </div>

</div>
<div class="clear"></div>

<script type="text/javascript">
$(document).ready(function() {
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
        " - $" + $("#slider-range").slider("values", 1));
    });


});
</script>
