@{
    ViewBag.Title = "Credbox";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
<script>
    $(document).ready(function ()
    {
        $('#btnAdd').click(function () {
            Add();
        });

        $('#btnVoltar').click(function () {
            window.location.href = '@Url.Action("List","Imobiliaria")';
        });

        $('#breadcrumb').html('<a href="@Url.Action("Home","Home")">Home</a><li><span class="divider">/</span><a href="@Url.Action("Add","Imobiliaria")">Imobiliária</a></li><li><span class="divider">/</span> Novo</li>');

        $('#alertMessage').hide('show');
        $('#ddlEstado').append('<option value="0" selected="selected">Selecione</option>');
        $('#ddlCidade').append('<option value="0">Selecione</option>');

        $("#txtContatoTelefone").mask("(99) 9999-9999?9");
        $("#txtContatoCelular").mask("(99) 9999-9999?9");
        $('#txtCep').mask("99999-999");

        $('#txtContatoEmail').blur(function () {
            var email = $("#txtContatoEmail").val();
            if (email != "") {
                var filtro = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
                if (filtro.test(email) == false) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Este endereço de email não é válido.</li>');
                }
            }
        });

        $("#txtNumero").keydown(function (event) {
            if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode == 67 && event.ctrlKey === true) ||
                    (event.keyCode == 88 && event.ctrlKey === true) ||
                    (event.keyCode == 86 && event.ctrlKey === true) ||
                    (event.keyCode == 65 && event.metaKey === true) ||
                    (event.keyCode == 67 && event.metaKey === true) ||
                    (event.keyCode == 88 && event.metaKey === true) ||
                    (event.keyCode == 86 && event.metaKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                return;
            }
            else {
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                    event.preventDefault();
                }
            }
        });


        $('#ddlEstado').change(function () {
            var idEstado = $('#ddlEstado').val();
            ZerarCidade();
            LoadCidade(idEstado);
        });

    });

    function LoadCidade(idEstado) {
        $('#pleaseWaitDialog').modal('show');
        if (idEstado > 0)
        {
            $.ajax({
                type: "GET",
                data: GetValueEstado(),
                url: '@Url.Action("GetCidades", "Imobiliaria")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').modal('hide');
                },
                success: function (data) {
                    ZerarCidade();
                    $('#ddlCidade').append('<option value="">Selecione</option>');
                    $.each(data, function (i, cidade) {
                        $('#ddlCidade').append('<option value="' + cidade.id + '">' + cidade.nome + '</option>');
                    });
                    $('#pleaseWaitDialog').modal('hide');
                }
            });
        }
        else
        {
            ZerarCidade();
            $('#ddlCidade').append('<option value="0">Selecione</option>');
            $('#alertMessage').show('show');
            $('#message').html('<li>Escolha uma opção diferente de Selecione.</li>');
            $('#pleaseWaitDialog').model('hide');
        }
    }


    function Add() {
        $('#pleaseWaitDialog').modal('show');
        var erroMessage = GetValidation();
        if (erroMessage == '') {
            $.ajax({
                type: "GET",
                data: GetValue(),
                url: '@Url.Action("Save", "Imobiliaria")',
                error: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>Não foi possível processar sua solicitação. Tente novamente mais tarde.</li>');
                    $('#pleaseWaitDialog').modal('hide');
                },
                success: function (data) {
                    $('#alertMessage').show('show');
                    $('#message').html('<li>' + data + '</li>');
                    clearControl();
                    $('#pleaseWaitDialog').modal('hide');
                }
            });
        }
        else {
            $('#alertMessage').show('show');
            $('#message').html(erroMessage);
            $('#pleaseWaitDialog').modal('hide');
        }
    }

    function ZerarCidade() {
        $("#ddlCidade").empty();
    }

    function GetValueEstado() {
        var idEstado = $('#ddlEstado').val();
        return { idEstado: idEstado };
    }

    function GetValidation() {
        var erroMessage = '';
        if ($('#ddlEstado').val() == '0') {
            erroMessage = '<li>O campo estado é obrigatório.</li>';
        }

        if ($('#ddlCidade').val() == '0') {
            if (erroMessage != "") {
                erroMessage = erroMessage + '<li>O campo cidade é obrigatório.</li>';
            }
            else {
                erroMessage = '<li>O campo cidade é obrigatório.</li>';
            }
        }

        if ($('#txtNome').val() == '') {
            if (erroMessage != "") {
                erroMessage = erroMessage + '<li>O campo nome é obrigatório.</li>';
            }
            else {
                erroMessage = '<li>O campo nome é obrigatório.</li>';
            }
        }

        var email = $("#txtContatoEmail").val();
        if (email != "") {
            var filtro = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if (filtro.test(email) == false) {
                if (erroMessage != "") {
                    erroMessage = erroMessage + '<li>Este endereço de email não é válido.</li>';
                }
                else {
                    erroMessage = '<li>Este endereço de email não é válido.</li>';
                }
            }
        }
        return erroMessage;
    }

    function GetValue() {
        var idEstado = $('#ddlEstado').val();
        var idCidade = $('#ddlCidade').val();
        var nome = $('#txtNome').val();
        var endereco = $('#txtEndereco').val();
        var cep = $('#txtCep').val();
        var numero = $('#txtNumero').val();
        var bairro = $('#txtBairro').val();
        var contato = $('#txtContato').val();
        var telefoneContato = $('#txtContatoTelefone').val();
        var celularContato = $('#txtContatoCelular').val();
        var emailContato = $('#txtContatoEmail').val();
        var complemento = $('#txtComplemento').val();
        var ativo = $('#chkAtivo').is(':checked');
        return { idEstado: idEstado, idCidade: idCidade, nome: nome, endereco: endereco, cep: cep, numero: numero, bairro: bairro, contato: contato, telefoneContato: telefoneContato, celularContato: celularContato, emailContato: emailContato, emailContato: emailContato };
    }

    function clearControl() {
        $('#ddlEstado').val('0');
        $('#ddlCidade').val('0');
        $('#txtNome').val('');
        $('#txtEndereco').val('');
        $('#txtCep').val('');
        $('#txtNumero').val('');
        $('#txtBairro').val('');
        $('#txtContato').val('');
        $('#txtContatoTelefone').val('');
        $('#txtContatoCelular').val('');
        $('#txtContatoEmail').val('');
        $('#txtComplemento').val('');
        $('#chkAtivo').attr('checked', false);
    }
</script>

<h2><span class="glyphicon glyphicon-lock"></span> Imobiliária</h2>
<div class="box span11">
    <div class="box-header well" data-original-title="">
        <h2><i class="icon-edit"></i> Nova</h2>
        <div class="box-icon">
            @*<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>*@
            @*<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>*@
            @*<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>*@
        </div>
    </div>
    <div class="box-content">
        <form class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="ddlEstado">Estado</label>
                    <div class="controls">
                        <select id="ddlEstado">
                            @foreach (var item in @ViewBag.Estados)
                            {
                                <option value="@item.id">@item.nome</option>
                            }
                        </select>

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="ddlCidade">Cidade</label>
                    <div class="controls">
                        <select id="ddlCidade" name="ddlCidade"></select>

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtNome">Nome</label>
                    <div class="controls">
                        <input class="text" id="txtNome" placeholder="Nome" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtEndereco">Endereço</label>
                    <div class="controls">
                        <input class="text" id="txtEndereco" placeholder="Endereço" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtCep">Cep</label>
                    <div class="controls">
                        <input class="text" id="txtCep" placeholder="Cep" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtNumero">Número</label>
                    <div class="controls">
                        <input class="text" id="txtNumero" placeholder="Número" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtBairro">Bairro</label>
                    <div class="controls">
                        <input class="text" id="txtBairro" placeholder="Bairro" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtComplemento">Complemento</label>
                    <div class="controls">
                        <input class="text" id="txtComplemento" placeholder="Complemento" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtContato">Contato</label>
                    <div class="controls">
                        <input class="text" id="txtContato" placeholder="Contato" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtContatoTelefone">Telefone</label>
                    <div class="controls">
                        <input class="text" id="txtContatoTelefone" placeholder="Telefone" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtContatoCelular">Celular</label>
                    <div class="controls">
                        <input class="text" id="txtContatoCelular" placeholder="Celular" type="text">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="txtContatoEmail">E-mail</label>
                    <div class="controls">
                        <input class="text" id="txtContatoEmail" placeholder="E-mail" type="text">
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="chkAtivo">Ativo</label>
                    <div class="controls">
                        <input class="checkbox" id="chkAtivo" type="checkbox" />
                    </div>
                </div>

                <div class="form-actions">
                    <button type="button" class="btn btn-primary" id="btnAdd"><i class="icon icon-white icon-save"></i> Salvar</button>
                    <button type="button" class="btn" id="btnVoltar"><i class="icon icon-undo"></i> Voltar</button>
                </div>



                <div class="modal fade" id="pleaseWaitDialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Processando...</h4>
                            </div>
                            <div class="modal-body">
                                <div class="progress progress-striped">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="alert alert-error" id="alertMessage">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Atenção</h4>
                    <ul id="message"></ul>
                </div>
            </fieldset>
        </form>

    </div>
</div>