<!-- left menu starts -->
<div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">Opções</li>
            <li><a class="ajax-link" href="@Url.Action("Home","Home")"><span class="glyphicon glyphicon-home"></span><span class="hidden-tablet"> Home</span></a></li>
            <li><a class="ajax-link" href="@Url.Action("List","Assunto")"><span class="glyphicon glyphicon-th-list"></span><span class="hidden-tablet"> Assunto</span></a></li>
            <li><a class="ajax-link" href="@Url.Action("List","Categoria")"><span class="glyphicon glyphicon-list-alt"></span><span class="hidden-tablet"> Categoria</span></a></li>
            <li><a class="ajax-link" href="@Url.Action("List","Tipo")"><span class="glyphicon glyphicon-asterisk"></span><span class="hidden-tablet"> Tipo</span></a></li>
            <li><a class="ajax-link" href="@Url.Action("List","Usuario")"><span class="glyphicon glyphicon-user"></span><span class="hidden-tablet"> Usuário</span></a></li>
            <li><a class="ajax-link" href="@Url.Action("List","Imobiliaria")"><span class="glyphicon glyphicon-lock"></span><span class="hidden-tablet"> Imobiliária</span></a></li>
            <li><a class="ajax-link" href="@Url.Action("List","Imovel")"><span class="glyphicon glyphicon-record"></span><span class="hidden-tablet"> Imóvel</span></a></li>
        </ul>
    </div><!--/.well -->
</div><!--/span-->
<!-- left menu ends -->

<noscript>
    <div class="alert alert-block span10">
        <h4 class="alert-heading">Warning!</h4>
        <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
    </div>
</noscript>